body {
  background-image: url(sky.png);
  background-size: 1400px;
}
.container {
  text-align: center;
  padding: 5%;
  font-family: "Ubuntu", sans-serif;
  max-width: 600px;
  max-height: 600px;
}
.body-page {
  border-radius: 15px;
  border: solid 1px #7b6079;
}
.search-form {
  padding-top: 20px;
}
#search-city {
  border-radius: 5px;
  border: solid 1px #7b6079;
}
#enter-city {
  border-radius: 5px;
  border: solid 1px #7b6079;
}
.city {
  font-size: 50px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
}
#temperature {
  font-size: 50px;
  font-weight: bold;
}
.weather-description {
  text-transform: capitalize;
}
.condition {
  margin-bottom: 20px;
}
.weather {
  list-style: none;
  margin-bottom: 20px;
}
.forecast {
  padding: 20px;
}
small {
  text-align: center;
}
